<div>
  <h2>Employee List</h2>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Blood Group</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let employee of filteredEmployees">
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.dob }}</td>
      <td>{{ employee.bloodGroup }}</td>
      <td>{{ employee.mobile }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.status }}</td>
    </tr>
  </table>
</div>
